body {
   background-color: #fcf8ef;
   /*background-color: #ebfaff;*/
   /* TODO: confirm sans-serif font */
   /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
}

.bird-btn-learn {
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-color: #0879bf;
    color: #fff;
    background-color: #0879bf;
    margin-right: 20px;
}

.bird-btn-learn:hover {
    color: #fff;
}

.bird-btn-quiz {
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    background-color: #e9fbff;
    border-color: #000000;
    color: #000;
}

#feedback {
    background-color: #E5E4E2;
}

#next-question-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7393B3;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 75px;
}

.center {
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
}
#quiz-title-header {
    background: #eeeeee;
    vertical-align: middle;
    border: 1px solid #000000;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20vh;
    
}

.question {
    text-align: center;
    margin-top: 20px;
}

.question-text {
    font-size: 24px;
    margin-bottom: 20px;
}

.question-number {
    color:grey;
}

#choices-container {
    background-color: #cfe2f3;
    padding: 30px 10px;
    border-radius: 50px;
}

#continue-quiz-button {
    margin-top: 20px;
    font-size: 18px;
    background-color: #3d85c6;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 75px;
    cursor: pointer;
    width: 300px;
    height: 75px;
}

#continue-quiz-button:hover {
    background-color: #2b65a3;
}

#start-quiz-button {
    margin-top: 20px;
    font-size: 18px;
    background-color: #e9fbff;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 75px;
    cursor: pointer;
    width: 300px;
    height: 75px;
}

#start-quiz-button:hover {
    background-color: #cfe2f3;
}

.choice-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #DCDCDC;
    border: 1px solid #000000;
    border-radius: 75px;
    cursor: pointer;
    width: 300px;
    height: 75px;
}

.choice-button:hover {
    background-color: #A9A9A9;
}

.incorrect {
    background-color: #F88379;
}

.correct {
    background-color: #AFE1AF;
}

.grey-text {
    color: #808080
}

.grey {
    background-color:	#DCDCDC;
}

.incorrect-text {
    color:  #F88379;
}

.correct-text {
    color: #AFE1AF;
}

.mapping-box {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin-right:50px;
}


.bird-container {
    justify-content: center;
    align-items: center;
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}

.bird-container img {
    max-width: 100px;
}

.image-caption {
    text-align: center;
    background-color: #F0F0F0;
    width: 100%;
}

.drag-drop-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top{

          height: 300px;


}

.card{

          height: 400px;
          object-fit: cover;

}

.previous {
  background-color: #f1f1f1;
  color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 20px;
    font-size: 30px;



}


.next {
    background-color: #04AA6D;
     color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 20px;
    font-size: 30px;
     float: right;

}
.info_image_cont{
    float: right;
    height: 400px;
}
.info_image{
    float: right;
    height: 400px;
     object-fit:cover;
}

.compare_image{
    width: 300px;
    object-fit:cover;
}