{% extends "base.html" %}

{% block content %}
<div class="row">
    {% for bird in birds %}
    <div class="col-sm-4">
        <div class="card">
            <img src="{{ url_for('static', filename=bird.imageUrl) }}" class="card-img-top" alt="{{ bird.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ bird.name }}</h5>
                <p class="card-text">{{ bird.description }}</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
